src/NodeRed.Blazor/wwwroot/examples/plugin-demo-flow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Plugin Demo Flow",
    "disabled": false,
    "info": "This flow demonstrates the external plugin nodes from NodeRed.Contrib.Example"
  },
  {
    "id": "inject1",
    "type": "inject",
    "z": "flow1",
    "name": "Hello World",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payloadType": "str",
    "payload": "hello world",
    "topic": "",
    "x": 150,
    "y": 100,
    "wires": [["upper1"]]
  },
  {
    "id": "upper1",
    "type": "example-upper",
    "z": "flow1",
    "name": "to upper",
    "x": 350,
    "y": 100,
    "wires": [["debug1"]]
  },
  {
    "id": "debug1",
    "type": "debug",
    "z": "flow1",
    "name": "uppercase output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 550,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject2",
    "type": "inject",
    "z": "flow1",
    "name": "Count Me",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payloadType": "str",
    "payload": "increment",
    "topic": "",
    "x": 150,
    "y": 200,
    "wires": [["counter1"]]
  },
  {
    "id": "counter1",
    "type": "example-counter",
    "z": "flow1",
    "name": "counter",
    "x": 350,
    "y": 200,
    "wires": [["debug2"]]
  },
  {
    "id": "debug2",
    "type": "debug",
    "z": "flow1",
    "name": "counter output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 550,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject3",
    "type": "inject",
    "z": "flow1",
    "name": "Humanize Test",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payloadType": "str",
    "payload": "this_is_a_test_string",
    "topic": "",
    "x": 150,
    "y": 300,
    "wires": [["humanize1"]]
  },
  {
    "id": "humanize1",
    "type": "example-humanize",
    "z": "flow1",
    "name": "humanize",
    "operation": "humanize",
    "x": 350,
    "y": 300,
    "wires": [["debug3"]]
  },
  {
    "id": "debug3",
    "type": "debug",
    "z": "flow1",
    "name": "humanized output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 550,
    "y": 300,
    "wires": []
  }
]
